[submodule ".tmux/tmux-pop"]
	path = .tmux/tmux-pop
	url = https://github.com/roosta/tmux-pop.git
[submodule ".tmux/tmux-better-mouse-mode"]
	path = .tmux/tmux-better-mouse-mode
	url = https://github.com/NHDaly/tmux-better-mouse-mode.git
[submodule ".vim/pack/plugins/start/delimitMate"]
	path = .vim/pack/plugins/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule ".vim/pack/plugins/start/fzf.vim"]
	path = .vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/pack/plugins/start/nerdcommenter"]
	path = .vim/pack/plugins/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
[submodule ".vim/pack/plugins/start/supertab"]
	path = .vim/pack/plugins/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/pack/plugins/start/targets.vim"]
	path = .vim/pack/plugins/start/targets.vim
	url = https://github.com/wellle/targets.vim.git
[submodule ".vim/pack/plugins/start/vim-gitgutter"]
	path = .vim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/pack/plugins/start/vim-surround"]
	path = .vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/plugins/start/vimwiki"]
	path = .vim/pack/plugins/start/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule ".local/share/omf"]
	path = .local/share/omf
	url = https://github.com/oh-my-fish/oh-my-fish.git
[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/plugins/start/vim-devicons"]
	path = .vim/pack/plugins/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule ".vim/pack/plugins/start/ycm"]
	path = .vim/pack/plugins/start/ycm
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule ".bin/ideapad"]
	path = .bin/ideapad
	url = https://github.com/LexVar/ideapad_bios_scripts.git
[submodule ".bin/backup"]
	path = .bin/backup
	url = https://github.com/LexVar/remote_backup_scripts.git
