[LayoutSettings]
backgroundStyle=0
color=blue
customBackground=
customTextColor=
icon=
lastUsedActivity=ba19d239-767b-4dd9-832d-47ac2c0b41de
launchers=
popUpMargin=0
preferredForShortcutsTouched=false
schemeFile=
version=2
